

@media screen and (min-width: 992px) {
    *{
        margin: 0;
        padding: 0;
    }

    
    body{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    #container_total{
        
        position: absolute;
        display: flex;
        width: 50vw;
        height: 65vh;
        overflow: hidden;
        padding: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    #container_total{
        border-radius: 25px;
        background-color: white;
        box-shadow: 1px 0px 5px 0px rgb(0, 0, 0);
        padding: 10px;
    }
        .container_form{
            width: 40%;
            height: 100%;
    }
    #container_imagen{
        transition: 2s ease;
        background-image: url(https://img.freepik.com/vector-gratis/ilustracion-concepto-abstracto-pagina-inicio-sesion_335657-2242.jpg?w=740&t=st=1672418762~exp=1672419362~hmac=5c46f7a087e5133a4d62178291ee73466b0781922f24ad8fb0f31c02c95ac7d9);
        background-repeat: no-repeat;
        background-size: cover;
        width: 60%;
        height: 100%;

    }
    #Registrar:hover{
        width: 200px;
        cursor: pointer;
        border-bottom: 1px solid rgba(0, 0, 0, 0.377);
    }

    #container_imagen .toggle{
        position: absolute;
        left: 0;
    }
    #container_form_register .toggle{
        position: fixed;
        right: 0;
    }
    #iniciar_sesion:hover{
        cursor: pointer;
        border-bottom: 1px solid rgba(0, 0, 0, 0.377);
    }

    #form_register{
        margin-left: 10px;
    }
}

@media screen and (max-width: 768px) {

    body{
        width: 100%;
        overflow-x: hidden;
    }
}