:root{
    --paster_gray: #C7D5C8;
    --dark_blue: #626CA1;
    --han_blue: #587BD8;
    --palatinate_blue: rgb(61,59,237);
    --charcoal: #3A3E55;

}
html{
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -webkit-user-zoom: none ;
}

@media screen and (min-width: 1024px) {
    body{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
    #contenido_header_body{
        margin: auto;
        width: 99vw;
        min-width: 1300px;
        height: 90vh;
        background-image: url(/img/mockup_card_laptop_tshirt.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #contenido_header_body> img.contenido_header_body_logo_img1{
        width: 150px;
        height: 40px;
        position: relative;
        top: 44%;
        left: 31.2vw;
        z-index: 0;
        
    }
    #contenido_header_body > img.contenido_header_body_logo_img2{
        width: 150px;
        height: 40px;
        position: relative;
        top: 68%;
        left: 3.8vw;
        transform: rotate(340deg);
        z-index: 0;
    }
        /*CONTENIDO DESPUES DEL HEADER*/
        div.contenedor_all_conocimiento{
            width: 100vw;
            height: 100vh;
        }
        div.contenedor_all_conocimiento h2.title{
            text-align: center;
        }
        div.contenedor_all_conocimiento > div.contenedor_conocimiento{
            width: 90vw;
            height: 90vh;
            border: 1px solid black;
            margin: auto;
            overflow: hidden;
            display: grid;
            gap: 20px;
            padding: 0;
            grid-template-columns: 300px 300px 300px;
            align-items: center;
            justify-content: center;
        }
        div.contenedor_all_conocimiento > div.contenedor_conocimiento > div.conocimiento{
            max-width: 300px;
            height: 400px;
            /* border: 1px solid black; */
            border-radius: 5px;
            box-shadow: 0px 0px 5px 0px rgba(49, 53, 49, 0.678);
            overflow: hidden;
            background-color: var(--charcoal);
        }
        div.conocimiento > div.imagen_conocimiento{
            position: relative;
            margin: 10px auto;
            width: 235px;
            height: 100px;
            border: 1px solid red;
            overflow: hidden;
            display: flex;
            justify-content: center;
            object-fit: cover;

        }
     div.conocimiento > div.imagen_conocimiento > img{
            width: 140px;
            height: 100px;
            object-fit: contain;
            padding: 5px;
        }
     div.conocimiento > h3.title_conocimiento{
                    text-align: center;
                    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    color: white;
    }
    div.conocimiento > div.descripcion{
        width: 90%;
        height: 55%;
        border: 1px solid blue;
        padding: 5px;
        margin: auto;
    }
}
@media only screen and (orientation: portrait) { /*Vertical*/
    @media screen and (min-width: 320px) and (max-width: 480px) { /*Celular*/
        /*TODO RELACIONADO con la caratula del body*/
        body{
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
        }
        #contenido_header_body{
            margin: auto;
            width: 100%;
            height: 92.8vh;
            background-image: url(/img/mockup_card_laptop_tshirt.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position-y: center;
            position: relative;
            z-index: -1;
            
        }
        #contenido_header_body > img.contenido_header_body_logo_img1{
            z-index: 0;
            width: 40px;
            height: 10px;
            position: relative;
            top: 46%;
            left: 31.5%;
        }
        #contenido_header_body > img.contenido_header_body_logo_img2{
            width: 45px;
            height: 12px;
            position: relative;
            top: 52%;
            left: 3.7vw;
            transform: rotate(340deg);
        }
               /*CONTENIDO DESPUES DEL HEADER*/
               div.contenedor_all_conocimiento{
                width: 100vw;
                height: 100vh;
                z-index: 0;
            }
            div.contenedor_all_conocimiento h2.title{
                text-align: center;
            }
            div.contenedor_all_conocimiento > div.contenedor_conocimiento{
                width: 90%;
                
                border: 1px solid black;
                margin: auto;
                overflow-x: hidden;
              padding-top: 10px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;
               
            }
            div.contenedor_all_conocimiento > div.contenedor_conocimiento > div.conocimiento{
                max-width: 90%;
                height: 500px;
                /* border: 1px solid black; */
                border-radius: 5px;
                box-shadow: 0px 0px 5px 0px rgba(49, 53, 49, 0.678);
                overflow-x: hidden;
                background-color: var(--charcoal);
            }
            div.conocimiento > div.imagen_conocimiento{
                position: relative;
                margin: 10px auto;
                width: 235px;
                height: 100px;
                border: 1px solid red;
                overflow: hidden;
                display: flex;
                justify-content: center;
                object-fit: cover;
                z-index: 0;
    
            }
         div.conocimiento > div.imagen_conocimiento > img{
                width: 140px;
                height: 100px;
                object-fit: contain;
                padding: 5px;
                z-index: 0;
            }
         div.conocimiento > h3.title_conocimiento{
                        text-align: center;
                        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        color: white;
        }
        div.conocimiento > div.descripcion{
            width: 90%;
            height: 55%;
            border: 1px solid blue;
            padding: 5px;
            margin: auto;
        }
    }
    /*CONTENIDO DESPUES DEL HEADER*/
    div.contenedor_all_conocimiento{
        width: 100vw;
        height: 100vh;
    }
}